django
djangorestframework
psycopg2-binary
python-decouple
djangorestframework-simplejwt
drf-yasg
pillow
djangorestframework-simplejwt
gunicorn
whitenoise
dj-database-url
django-cors-headers
celery==4.4.7
redis
django-celery-beat
django-celery-results
